html,
body {
  height: 100%;
}

/* scrollbar style */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  border: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $accent;
}

body {
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
  @extend %roboto-400;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 21px;
  $default: #2b2b29;
  background-color: #fff;
}

.lock{
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  min-width: 173px;
  padding: 20px 34px;
  display: inline-block;
  @extend %roboto-400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  background-color: $accent;
  border: none;
  cursor: pointer;
}

.title {
  @extend %open-400;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #000;
}

.subtitle {
  @extend %roboto-500;
  font-size: 24px;
  line-height: 28px;
  color: $accent;
}

.section {
  &__hits {
    padding: 100px 0;
  }
  &__benefits {
    padding: 100px 0;
  }
  &__personal {
    margin: 100px 0;
  }
  &__about {
    margin: 200px 0 100px;
  }
  &__road {
    margin: 200px 0 100px;
  }
  &__reviews {
    padding: 100px 0;
  }
}

@media (max-width: 1400px) {
  .section__hits {
    padding: 50px 0;
  }
  .section__benefits {
    padding: 50px 0;
  }
  .title {
    font-size: 30px;
    line-height: 40px;
  }

  .subtitle {
    font-size: 20px;
    line-height: 28px;
    color: #e2510e;
  }
  // personal

  .section__personal {
    margin: 50px 0;
  }
  .section__about {
    margin: 100px 0 100px;
  }
  .section__road {
    margin: 100px 0;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 25px;
    line-height: 35px;
  }

  .subtitle {
    font-size: 18px;
    line-height: 28px;
    color: #e2510e;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 20px;
    line-height: 30px;
  }
  .section__about {
    margin: 50px 0 50px;
  }
  .section__road {
    margin: 50px 0 50px;
  }
}

@media (max-width: 500px) {
  .section__benefits {
    margin-bottom: 50px;
  }
}
