//   

$default: #2b2b29;
$accent: #E2510E;

// fonts
%open-400{
 font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%open-700{
 font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}

%roboto-300{
 font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
}

%roboto-400{
 font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-500{
 font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

