@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

// header
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: transparent;
  padding-top: 20px;
  &__inner {
    display: flex;
  }
  &__nav-box {
    display: flex;
    margin: 0 auto;
  }

  &__logo {
    margin-left: 75px;
    margin-right: 75px;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    margin-left: 75px;
  }
  &__list-link {
    display: inline-block;
    padding: 27px 0;
    color: #fff;
  }

  &__btn {
    display: block;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
  }
  &__btn::after,
  &__btn:before {
    content: "";
    display: block;
    width: 38px;
    height: 2px;
    margin-bottom: 7px;
    background-color: #fff;
  }
  &__btn-line {
    display: block;
    width: 38px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 7px;
  }
}
.logo {
  &__img {
    max-height: 76px;
  }
}

.top {
  position: relative;
  height: 100vh;
  min-height: 515px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: $default;

  &__title {
    width: 100%;
    max-width: 916px;
    margin-top: 80px;
    margin-bottom: 40px;
    @extend %open-700;
    font-size: 43px;
    line-height: 59px;
    text-transform: uppercase;
    color: #fff;
  }
  &__subtitle {
    margin-bottom: 40px;
    width: 100%;
    max-width: 498px;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
  }
}

// hits

.hits {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.hit {
  width: 100%;
  max-width: 420px;
  &__img-box {
    display: block;
    position: relative;
    max-width: 420px;
    max-height: 293px;
    overflow: hidden;
  }
  &__img-box::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-image: url("../images/icons/heart.svg");
    background-repeat: no-repeat;
  }
  &__img {
    object-fit: cover;
  }

  &__wrapper {
    background-color: $default;
    padding: 40px 42px;
    text-align: center;
  }
  &__content {
    margin-bottom: 30px;
  }
  &__title {
    margin-bottom: 30px;
    @extend %open-400;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
  }
  &__description {
    height: 42px;
    font-size: 18px;
    line-height: 21px;
    color: $default2;
    overflow: hidden;
    text-align: start;
  }
  &__spec {
    display: flex;
    margin-bottom: 30px;
  }
  &__info-box {
    display: flex;
    font-size: 18px;
    line-height: 21px;
    color: $default2;
    text-align: start;
  }
  &__info-name {
    margin-right: 30px;
    width: 89px;
    @extend %roboto-300;
    overflow-x: hidden;
  }
  &__info-value {
    margin-right: 40px;
    width: 79px;
    @extend %roboto-500;
    overflow-x: hidden;
  }
}
.jq-ry-container {
  padding: 0;
}

.benefits {
  &__title {
    width: 100%;
    max-width: 753px;
    margin: 0 auto 70px;
  }
  &__wrap {
    position: relative;
    max-height: 1032px;
  }
  &__decor {
    position: absolute;
    right: 138px;
    z-index: -1;
  }

  &__item {
    margin-bottom: 50px;
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &__item:nth-child(even) {
    margin-left: auto;
  }
}

.benefit {
  width: 100%;
  max-width: 530px;
  &__title {
    margin-bottom: 30px;
    @extend %roboto-500;
    font-size: 24px;
    line-height: 28px;
    color: $accent;
  }
  &__box p:not(:last-child) {
    margin-bottom: 10px;
  }
}

// personal

.personal {
  min-height: 786px;
  background-image: url("");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner {
    padding-top: 100px;
  }
  &__form {
    width: 100%;
    max-width: 530px;
    padding: 60px 34px 40px 34px;
    background-color: rgba($default, 0.4);
    color: #fff;
  }
  &__form-title {
    margin-bottom: 50px;
    width: 100%;
    max-width: 456px;
    color: #fff;
  }
  &__form-subtitle {
    width: 100%;
    max-width: 385px;
    margin: 0 auto 30px;
    text-align: center;
  }
  &__form-box {
    width: 100%;
    max-width: 353px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__form-input {
    margin-bottom: 20px;
    height: 56px;
    display: block;
    width: 100%;
    padding: 18px 20px;
    background-color: #f4f4f4;
    border: none;
  }
  &__form-input::placeholder {
    @extend %roboto-400;
    font-size: 18px;
    line-height: 21px;
    color: #808684;
  }

  &__form-label {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 31px;
    @extend %roboto-400;
    font-size: 14px;
    line-height: 16px;
    color: $default2;
    cursor: pointer;
  }
  &__form-checkbox {
    @extend %checkbox-hidden;
  }
  &__form-checkbox:checked + .check-style {
    background-image: url("../images/icons/check.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.check-style {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -30px;
  background-color: #fff;
}

@import "media";
