@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

// header
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: transparent;
  padding-top: 20px;
  &__inner {
    display: flex;
  }
  &__nav-box {
    display: flex;
    margin: 0 auto;
  }

  &__logo {
    margin-left: 75px;
    margin-right: 75px;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    margin-left: 75px;
  }
  &__list-link {
    display: inline-block;
    padding: 27px 0;
    color: #fff;
  }

  &__btn {
    display: block;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
  }
  &__btn::after,
  &__btn:before {
    content: "";
    display: block;
    width: 38px;
    height: 2px;
    margin-bottom: 7px;
    background-color: #fff;
  }
  &__btn-line {
    display: block;
    width: 38px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 7px;
  }
}
.logo {
  &__img {
    max-height: 76px;
  }
}

.top {
  position: relative;
  height: 100vh;
  min-height: 515px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: $default;

  &__title {
    width: 100%;
    max-width: 916px;
    margin-top: 80px;
    margin-bottom: 40px;
    @extend %open-700;
    font-size: 43px;
    line-height: 59px;
    text-transform: uppercase;
    color: #fff;
  }
  &__subtitle {
    margin-bottom: 40px;
    width: 100%;
    max-width: 498px;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
  }
}

// hits

.hits {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.hit {
  width: 100%;
  max-width: 420px;
  &__img-box {
    display: block;
    position: relative;
    max-width: 420px;
    max-height: 293px;
    overflow: hidden;
  }
  &__img-box::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-image: url("../images/icons/heart.svg");
    background-repeat: no-repeat;
  }
  &__img {
    object-fit: cover;
  }

  &__wrapper {
    background-color: $default;
    padding: 40px 42px;
    text-align: center;
  }
  &__content {
    margin-bottom: 30px;
  }
  &__title {
    margin-bottom: 30px;
    @extend %open-400;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
  }
  &__description {
    height: 42px;
    font-size: 18px;
    line-height: 21px;
    color: $default2;
    overflow: hidden;
    text-align: start;
  }
  &__spec {
    display: flex;
    margin-bottom: 30px;
  }
  &__info-box {
    display: flex;
    font-size: 18px;
    line-height: 21px;
    color: $default2;
    text-align: start;
  }
  &__info-name {
    margin-right: 30px;
    width: 89px;
    @extend %roboto-300;
    overflow-x: hidden;
  }
  &__info-value {
    margin-right: 40px;
    width: 79px;
    @extend %roboto-500;
    overflow-x: hidden;
  }
}
.jq-ry-container {
  padding: 0;
}

.benefits {
  &__title {
    width: 100%;
    max-width: 753px;
    margin: 0 auto 70px;
  }
  &__wrap {
    position: relative;
    max-height: 1032px;
  }
  &__decor {
    position: absolute;
    right: 138px;
    z-index: -1;
  }

  &__item {
    margin-bottom: 50px;
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &__item:nth-child(even) {
    margin-left: auto;
  }
}

.benefit {
  width: 100%;
  max-width: 530px;
  &__title {
    margin-bottom: 30px;
  }
  &__box p:not(:last-child) {
    margin-bottom: 10px;
  }
}

// personal

.personal {
  min-height: 786px;
  background-image: url("");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner {
    padding-top: 100px;
  }
  &__form {
    width: 100%;
    max-width: 530px;
    padding: 60px 34px 40px 34px;
    background-color: rgba($default, 0.4);
    color: #fff;
  }
  &__form-title {
    margin-bottom: 50px;
    width: 100%;
    max-width: 456px;
    color: #fff;
  }
  &__form-subtitle {
    width: 100%;
    max-width: 385px;
    margin: 0 auto 30px;
    text-align: center;
  }
  &__form-box {
    width: 100%;
    max-width: 353px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__form-input {
    margin-bottom: 20px;
    height: 56px;
    display: block;
    width: 100%;
    padding: 18px 20px;
    background-color: #f4f4f4;
    border: none;
  }
  &__form-input::placeholder {
    @extend %roboto-400;
    font-size: 18px;
    line-height: 21px;
    color: #808684;
  }

  &__form-label {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 31px;
    @extend %roboto-400;
    font-size: 14px;
    line-height: 16px;
    color: $default2;
    cursor: pointer;
  }
  &__form-checkbox {
    @extend %checkbox-hidden;
  }
  &__form-checkbox:checked + .check-style {
    background-image: url("../images/icons/check.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.check-style {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -30px;
  background-color: #fff;
}

// about

.about {
  min-height: 534px;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left top;

  &__box {
    margin-left: auto;
    width: 100%;
    max-width: 600px;
  }
  &__title {
    margin-bottom: 70px;
    text-align: start;
  }
  &__subtitle {
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px;
  }

  &__wrap p:not(:last-child) {
    margin-bottom: 10px;
  }
}
// road
.road {
  &__title {
    margin-bottom: 70px;
  }
  &__list {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px 60px;

    list-style: none;
    counter-reset: my-counter;
  }
}

.road-item {
  position: relative;
  width: 100%;
  max-width: 600px;
  counter-increment: my-counter;
  padding-top: 120px;
  &__num {
    position: relative;
  }
  &__num::after {
    content: "/";
    position: absolute;
    top: -130px;
    @extend %open-400;
    font-size: 90px;
    line-height: 82px;
    color: $accent;
  }
  &__num::before {
    content: ".";
    position: absolute;
    top: -130px;
    left: 105px;
    @extend %open-400;
    font-size: 90px;
    line-height: 82px;
    color: $accent;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__text p:not(:last-child) {
    margin-bottom: 10px;
  }
}
.road-item::before {
  content: "0" counter(my-counter);
  position: absolute;
  top: 0;
  left: 42px;
  @extend %open-400;
  font-size: 60px;
  line-height: 82px;
  color: #808684;
}
.road-item:nth-child(1n + 10)::before {
  content: "" counter(my-counter);
}

// price

.price {
  min-height: 948px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  &__inner {
    padding: 100px 0;
  }
  &__form {
    margin-left: auto;
    width: 100%;
    max-width: 530px;
    padding: 70px 50px;
    background-color: rgba(#fff, 0.4);
    text-align: center;
  }
  &__form-title {
    margin-bottom: 40px;
  }
  &__form-subtitle {
    margin-bottom: 40px;
    @extend %roboto-400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: $default;
  }
  &__form-btn {
    margin-top: 20px;
  }
  .choices {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .choices__inner {
    background-color: #fff;
    padding: 18px 40px 18px 20px;
    border: none;
    border-radius: 0;
    min-height: auto;
    height: 56px;
    @extend %roboto-400;
    font-size: 18px;
    line-height: 21px;
    color: #808684;
  }

  .choices__placeholder {
    opacity: 1;
  }
  .choices__list--single {
    display: inline-block;
    padding: 0;
    width: 100%;
    text-align: start;
  }
  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    text-align: start;
  }

  .choices::after {
    content: "";
    height: 10px;
    width: 15px;
    background-image: url("../images/icons/arrow.svg");
    background-repeat: no-repeat;
    border-style: none;
    border-color: none;
    border-width: 0;
    position: absolute;
    right: 21px;
    top: 29px;
    margin-top: 0;
    pointer-events: none;
  }
}

// reviews

.reviews {
  &__slider {
    position: relative;
    overflow-x: hidden;
  }
  &__slider-box {
    display: flex;
  }
  &__slider-img {
    min-height: 485px;
    margin-right: 24px;
  }
  &__slider-content {
    width: 100%;
    max-width: 530px;
    max-height: 455px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }
  &__slider-title {
    margin-bottom: 70px;
  }
  &__slider-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__slider-car {
    margin-bottom: 10px;
    @extend %roboto-500;
    font-size: 24px;
    line-height: 28px;
    color: #000;
  }
  &__slider-rate {
    margin-bottom: 35px;
  }
  &__slider-desr {
    margin-bottom: 20px;
  }
  &__slider-author {
    position: relative;
  }
  &__slider-author::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: $accent;
    border-radius: 50%;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 460px;
    right: 0;
    width: 25px;
    height: 25px;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .swiper-button-next {
    right: 210px;
    background-image: url("../images/icons/arrow-right.svg");
  }
  .swiper-button-prev {
    left: 970px;

    background-image: url("../images/icons/arrow-left.svg");
  }
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 380px;
    width: 100%;
    z-index: -1;
  }
  .swiper-pagination-total,
  .swiper-pagination-current {
    @extend %roboto-400;
    font-size: 18px;
    line-height: 21px;
  }
}

// footer

.footer {
  padding: 100px 0;
  background-color: $default;
  &__inner {
    display: flex;
  }
  &__nav {
    width: 182px;
    margin-right: 145px;
  }
  &__logo {
    display: inline-block;
    margin-bottom: 50px;
  }
  &__list {
  }
  &__list-item {
    margin-bottom: 10px;
  }
  &__list-link {
    color: #fff;
  }
  &__address {
    width: 100%;
    max-width: 498px;
  }
  &__address-title {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
  }
  &__address-items {
  }
  &__address-item {
    color: #fff;
  }
  &__address-item:not(:last-child) {
    margin-bottom: 30px;
  }
  &__address-city {
    @extend %open-700;
  }
  &__address-street {
  }
  &__partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 275px;
  }
  &__partners-item {
  }
}
@import "media";
